doctype html
html
   head
      title REGISTER
      script(language="javascript" src="../js/bootstrap.min.js")
      link(rel='stylesheet', href="../css/bootstrap.min.css")
      script(language="javascript" src="../javascripts/auth.js")
      link(rel='stylesheet', href="../stylesheets/style.css")
   body
    div#container_demo.row
     div#wrapper
      div(class='well well-lg')
       h1(class='well well-sm') WELCOME TO YOUR PROFILE
       div Hey #{id}, How are you doing today?
       div(class='alert alert-dark' role='alert') Want to log out?
       button(type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off") Logout
